@using SeoPoc.Web.Helpers
@model SeoPoc.Web.Services.SeoDetails
@{
  ViewBag.Title = Model.IfNotNull(x => x.RoutingResult.SeoTitle, "SEO POC");
}

<ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
  
  @for (var i = 0; i < Model.Breadcrumbs.Length; i++)
  {
      var item = Model.Breadcrumbs[i];

      <a href="@item.Url" itemprop="item" itemtype="http://schema.org/Thing" itemscope="">
        <span itemprop="name">@item.Title</span>
        <meta itemprop="position" content="@(i + 1)">
      </a>
  }
</ol>

<div class="jumbotron">
  <h1>@Model.IfNotNull(x => x.RoutingResult.SeoTitle, "SEO POC")</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>City</h2>
    <p>
      @Model.IfNotNull(x => x.RoutingResult.CityId)
    </p>
  </div>
  <div class="col-md-3">
    <h2>District</h2>
    <p>
      @Model.IfNotNull(x => x.RoutingResult.DistrictId)
    </p>
  </div>
  <div class="col-md-3">
    <h2>ArticleGroupInternalName</h2>
    <p>
      @Model.IfNotNull(x => x.RoutingResult.ArticleGroupInternalName)
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>PriceFrom</h2>
    <p>
      @Model.IfNotNull(x => x.RoutingResult.PriceFrom)
    </p>
  </div>
  <div class="col-md-4">
    <h2>PriceTo</h2>
    <p>
      @Model.IfNotNull(x => x.RoutingResult.PriceTo)
    </p>
  </div>
</div>