@using SeoPoc.Web.Helpers
@model SeoPoc.Web.Services.SeoRoutingResult
@{
  ViewBag.Title = Model.IfNotNull(x => x.SeoTitle, "SEO POC");
}

<div class="jumbotron">
  <h1>@Model.IfNotNull(x => x.SeoTitle, "SEO POC")</h1>
</div>

<div class="row">
  <div class="col-md-2">
    <h2>City</h2>
    <p>
      @Model.IfNotNull(x => x.CityId)
    </p>
  </div>
  <div class="col-md-2">
    <h2>District</h2>
    <p>
      @Model.IfNotNull(x => x.DistrictId)
    </p>
  </div>
  <div class="col-md-2">
    <h2>ArticleGroupInternalName</h2>
    <p>
      @Model.IfNotNull(x => x.ArticleGroupInternalName)
    </p>
  </div>
  <div class="col-md-2">
    <h2>PriceFrom</h2>
    <p>
      @Model.IfNotNull(x => x.PriceFrom)
    </p>
  </div>
  <div class="col-md-2">
    <h2>PriceTo</h2>
    <p>
      @Model.IfNotNull(x => x.PriceTo)
    </p>
  </div>
</div>